<form autocomplete="off" onsubmit="event.preventDefault()">
	<nav class="sheet-tabs tabs">
		{{#each tabs as |tab key|}}
			<a class="item" data-tab="{{key}}">
				{{tab.name}}
			</a>
		{{/each}}
		<a class="item lastItem" data-action="add-tab">
			<i class="far fa-plus"></i>
			{{localize "TC.TABS.AddTab"}}
		</a>
	</nav>

	<section class="content">
		{{#each tabs as |tab key|}}
			<div class="tab" data-tab="{{key}}">
				<div class="form-group">
					<label>{{localize "Name"}}</label>
					<input name="tabs.{{key}}.name" id="tabs.{{key}}.name" type="text" value="{{tab.name}}" />
					<input
						style="display: none;"
						name="tabs.{{key}}.id"
						id="tabs.{{key}}.id"
						type="text"
						value="{{tab.id}}"
					/>
				</div>
				<h2 class="tc-collapse-label">{{localize "TC.SETTINGS.ChatTabsSettings.MessageTypes"}}</h2>
				<div>
					{{#each tab.sources as |source id|}}
						<div class="form-group">
							<label>{{source.label}}</label>
							<input name="tabs.{{key}}.sources.{{id}}" type="checkbox" {{checked source.value}} />
							<p class="notes">{{source.hint}}</p>
						</div>
					{{/each}}
				</div>

				<h2 class="tc-collapse-label">{{localize "TC.SETTINGS.ChatTabsSettings.RolePermissions"}}</h2>
				<div>
					{{#each tab.permissions.roles as |obj id|}}
						<div class="form-group">
							<label>{{obj.label}}</label>
							<select name="tabs.{{key}}.permissions.roles.{{id}}">
								{{selectOptions @root.levels selected=obj.value}}
							</select>
						</div>
					{{/each}}
				</div>
				<h2 class="tc-collapse-label">{{localize "TC.SETTINGS.ChatTabsSettings.UserPermissions"}}</h2>
				<div>
					{{#each tab.permissions.users as |obj id|}}
						<div class="form-group">
							<label>{{obj.label}}</label>
							<select name="tabs.{{key}}.permissions.users.{{id}}">
								{{selectOptions @root.levels selected=obj.value}}
							</select>
						</div>
					{{/each}}
				</div>
				<div class="flexrow tab-buttons">
					{{#if (lt key 1)}}
						<button disabled type="button"><i class="far fa-chevron-left"></i></button>
					{{else}}
						<button type="button" data-action="change-prio" data-prio="increase" data-key="{{key}}">
							<i class="far fa-chevron-left"></i>
						</button>
					{{/if}}
					{{#if (eq @root.tabs.length 1)}}
						<button disabled type="button" data-action="table-delete" data-key="{{key}}"><i
								class="fas fa-trash"
							></i></button>
					{{else}}
						<button type="button" data-action="table-delete" data-key="{{key}}"><i
								class="fas fa-trash"
							></i></button>
					{{/if}}
					{{#if @last}}
						<button disabled type="button"><i class="far fa-chevron-right"></i></button>
					{{else}}
						<button type="button" data-action="change-prio" data-prio="reduce" data-key="{{key}}"><i
								class="far fa-chevron-right"
							></i></button>
					{{/if}}
				</div>
			</div>
		{{/each}}
	</section>
	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit">
			<i class="far fa-save"></i>
			{{localize "SETTINGS.Save"}}
		</button>
		<button type="button" name="reset" data-action="reset">
			<i class="fas fa-undo"></i>
			{{localize "SETTINGS.Reset"}}
		</button>
	</footer>
</form>